.table{
  width: 100%;
  margin-top: 2em;
}

.loading-spinner {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

 }

 .mat-header-cell{
  font-weight: bold;
  font-size: 16px;
}

.mat-row:hover .mat-cell {
  border-color: #E91E63;
}

.mat-row .mat-cell {
  border-bottom: 2px solid none;
  cursor: pointer;
  transition: all 0.3s;
}

.mat-column-id {
  text-align: left;
  border-left: 10px solid #607D8B;
}
.mat-column-actions {
  flex: 0 0 75px;

}
.action-column-header {
  flex: 0 0 55px;
  margin-left: 1.2em;

}

mat-toolbar.header {
  height: 4em;
  font-weight: lighter;
}
mat-toolbar.header span {
  margin-left: 1em;
}

