.loading-spinner {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

 }

 mat-toolbar.header {
  height: 4em;
  font-weight: lighter;
}
mat-toolbar.header span {
  margin-left: 1em;
}
