<body>

<mat-toolbar class="nav" color="primary">
  <img src="../assets/img/angular-white.png" height="30" width="30" alt="angular" />
  <span>Angular 14 & Spring</span>
  <span class="spacer"></span>
<a href="https://github.com/HisuiKitsune/Angular14-Spring/tree/main" target="_blank"><span class="github"><img src="../assets/img/github.png" height="30" width="30" alt="github" />Github</span></a>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
</body>
<footer class="footer">
  <mat-toolbar class="mat-footer" color="accent">
    <span>
      <img class="material" src="../assets/img/material.png" height="30" width="28" alt="angular" />
      14.2.7
      <img class="spring" src="../assets/img/srpingboot.png" height="30" width="30" alt="spring" />
      2.7.5
      <img class="java" src="../assets/img/java.png" height="30" width="30" alt="java" />
      19
    </span>
  </mat-toolbar>
  </footer>
