main{
  width: 100%;
  margin: 0 auto;
}

mat-toolbar.nav{
  height: 2.8em;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
mat-toolbar.nav span{
 font-size: medium;
 margin-left: 1em;
}
img {
  margin-left: 0.5em;
}
.spacer {
  flex: 1 1 auto;
}
span.github {
  display: flex;
  margin-right: 1em;
  padding: 6px;
  padding-right: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

a{
  color: #fff;
  text-decoration: none;
}
span.github:hover {
  background-color: black;
}
span img {
  margin-right: 0.5em;
}

footer.footer {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: 0;
}

.mat-footer {
  height: 2.5em;
}

.footer span {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 14px;
  font-weight: 500;
}

.footer span img {
  margin: 0 0.5em 0 2em;
}


