@import '@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-pink, 500);
$my-app-accent:  mat-palette($mat-blue-grey);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);


html { height: 100%; background-color: #303030; box-sizing: border-box;}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100%; position: relative;
  padding-bottom: 2rem;
  box-sizing: inherit;
}


mat-card {
  width: 70%;
  margin: 2em auto;
  text-align: center;

}
